body {
	overflow-y:scroll;
	font-family:"微软雅黑",helvetica;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	background:#212A33;
	overflow:hidden;
}

#myCanvas{
	position:relative;
	top:10px;
	left:10px;
	
	float: left;
}
#wrapper {
	position:absolute; 
	z-index:2;
	bottom:0px;
	height:100%;
	width:100%;
	overflow:hidden;
	background:#444E58
}

#pullDown, #pullUp {
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

#scroller {
	position:relative; 
	z-index:2;
	width:100%;
	height:100%;
	padding:0;
	background:#444E58;
}

#front-header{
	display:block;
	background:#F0F0F0;
	
	position: 0 0;
	padding:0;
	height:160px;
	margin:15px;
	
	border-radius:5px;
}
#percentage{
	position:relative;
	top:50px;
	left:-97px;
	font-family: Helvetica;
	font-size:39px;
	font-weight:bold;
	color:#444E58;
	
}
#date{
	position:relative;
	top:48px;
	left:-87px;
	
	font-family:"Arial Black";
	font-size:12px;
	font-weight:400;
	color:#7E7E7E;
	text-shadow:4px 3px 1px white;
}
#front-header p{
	position:relative;
	top:-32px;
	left:-50px;
	font-size:27px;
	color:#444E58;
	font-weight:bold;
	float:left;
}
#front-header h{
	position:relative;
	top:-30px;
	left:0px;
	
	font-family:"微软雅黑" Helvetica;
	font-size:17px;
	font-weight:bold;
	color:#323232;	
	text-shadow:0px 1px 1px #E1E1E1;
}
#front-header-producer{
	
	font-family:"微软雅黑",Helvetica;
	font-size:14px;
	font-weight:800;
	color:#4D4D4D;	
	
	padding:4px;
	list-style-type:none;
	position: relative;
	left: 0px;
	top:-30px; 
	text-shadow: 0px 1px 1px white;
}

#front-header-pro-description{
	position:relative;
	top:-25px;
	left:0px;
	
	font-family:"微软雅黑",Helvetica;
	font-size:14px;
	float:left;
	font-weight:800;
	color:#4D4D4D;	
}

body hr{
	width:96.6%;
}





/**/
.content1-header{
	display: block;
	background:#D1D1D1;
	
	
	padding:9px;
	margin:0px;
	height: 24px;
	border-radius: 5px 5px 0 0;
	
	font-family: "微软雅黑",Helvetica;
	font-size: 18px;
	font-weight:600;
	text-shadow:2px 2px 1px #F0F0F0;
	color:#666666;
}

.content1-ender{
	display: block;
	background: #D1D1D1;
	
	padding:0px;
	margin:0px;
	height: 4px;
	border-radius: 0px 0px 5px 5px;
}
.content1-text{
	
	float: left;
}

.image{
	position:relative; 
	top:0px;
	width:45px;
	height:45px;
	margin:10px 10px 5px 10px;
	border-radius:50px;
	
}
.content1-picture{
	float:left;
	position: relative;
	top:0px;
	left: 0px;
}
.content1-date{
	position:relative;
	top:35px;
	left:-88px;
	float:left;
	font-family:"微软雅黑" Helvetica;
	font-size:6px;
	color:#808080 ;
	font-weight: 600;
	text-shadow:0px 1px 1px white;
}

.content1-data-ending{
	position: relative;
	top:18px;
	left:10px;
	font-family:"微软雅黑" Helvetica;
	font-size:6px;
	font-weight:bold;
	color: #9EB627;
	text-shadow:0px 1px 1px white;
	
}


.content1-note{
	float: left;
	position: relative;
	top: 13px;
	left: -4px;
	
	font-family: "微软雅黑" Helvetica;
	font-size:15px;
	font-weight:bold;
	color: #666666;
	text-shadow:0px 1px 2px white;
	
}
.content1{
	display:block;
	background:#F0F0F0;
	
	margin:15px;
	border-radius:5px;
}


/*the content in the index*/
.text{
	line-height:22px;
	padding:0 6px;
	color:#666;
	
}
.box h1{
	padding-left:10px;
	height:22px;
	line-height:22px;
	background:#f1f1f1;
	font-weight:bold;
}
.box{
	position:relative;
	top:70%;
	border:1px solid #e7e7e7;
}





/*the left slide*/

#wrap{ 
	position:absolute;
	height:100%;
	width:80%;
	float:left;
	z-index:1;
	
	background:#212A33;
	display:none;
}

.pro-menu-picture{
	float:left;
	position: relative;
	top:20px;
	left: 20px;
}
.pro-menu-img{
	position:relative;
	top:0px;
	width:55px;
	height:55px;
	border-radius:50px;
}

#pro-menu-head-word1{
	position:relative;
	left:30px;
	top:30px;
	float: left;
	font-family:"微软雅黑" Helvetica;
}

#pro-menu-head-word1 li{
	position:relative;
	top:-8px;
	left:5px;
	font-size:22px;
	font-weight:800;
	color:#E6E6E6;
	text-shadow:0px -1px 0 black;
	list-style-type: none;
}
#pro-menu-head-word1 p{
	position:relative;
	top:-21px;
	left: 5px;
	font-size:15px;
	font-weight:bold;
	color:#999999;
}
#pro-menu-head{
	display:block;
	position: relative;
	height:95px;
	width:100%;
	float:left;
	
	border-bottom:1px solid #171F27;
	border-top: 1px solid #293540;
	background:#212A33;
}

#pro-menu-head2{
	display:block;
	position: relative;
	height:35px;
	width:100%;
	float: left;
	
	border-bottom:1px solid #171F27;
	border-top: 1px solid #293540;
	
	background:#36414D;
}

#pro-menu-head2 li{
	position: relative;
	top:6px;
	left:20px;
	font-family:"微软雅黑" Helvetica;
	font-size:15px;
	color:#999999;
	list-style-type:none;
	
	text-shadow: 0px 1px 1 black;
}
#pro-menu-item{
	display:block;
	position:relative;
	height:58px;
	width:100%;
	float: left;

	border-bottom:1px solid #171F27;
	border-top: 1px solid #293540;
	
	background:#212A33;
}

#pro-menu-item li{
	position:relative;
	top:0px;
	left:20px;
	
	font-family:'微软雅黑' Helvetica;
	font-size:18px;
	font-weight:650;
	line-height:60px;
	color:#E6E6E6;
	text-shadow:0px 2px 2px 2px black;
	list-style-type:none;
}

/*the right slides*/

#wrap2{
	position:absolute;
	float:right;
	background:#212A33;
	z-index:1;
	
	margin-left:20%;
	height:100%;
	width:80%;
	display:none;
}

#news-head{
	display:block;
	position:relative;
	top:0px;
	left:0px;
	height:35px;
	background:#36414D;
	
	border-bottom:1px solid #171F27;
	border-top: 1px solid #293540;
}
#news-head li{
	font-family:"微软雅黑" Helvetica;
	font-size:16px;
	color:#999999;
	list-style-type: none;
	
	position:relative;
	top:6px;
	left:27px;
	text-shadow:0px 1px 1px black;
}


#news-content{
	display:block;
	position:relative;
	height:115px;
	
	border-bottom:1px solid #171F27;
	border-top: 1px solid #293540;
}

#pro-name{
	position:relative;
	top:0px;
	left:27px;
	
	font-family:'微软雅黑' Helvetica;
	font-size:18px;
	font-weight:650;
	line-height:60px;
	color:#E6E6E6;
	text-shadow:0px 1px 1px 1px black;
	
}

#pro-task{
	position: relative;
	top:-38px;
	left:155px;
	float:left;
	
	font-family: "微软雅黑" Helvetica;
	font-size:14px;
	font-weight:bold;
	color:#999999;
	
	text-shadow:0px 2px 1px black;
}

#pro-trends{
	position:relative;
	top:0px;
	left:-63px;
	float:left;
	
	font-family:"微软雅黑" Helvetica;
	font-size:15px;
	font-weight:bold;
	color:#E6E6E6;
	text-shadow:0px 1px 1px black;
}

#comment-data{
	position:relative;
	top: 26px;
	left:-20px;
	float:right;
	
	font-family:"微软眼黑" Helvetica;
	font-size:15px;
	font-weight:bold;
	color:#999999;
	
}
