<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" type="text/css" href="css/master.css" />

<script type="text/javascript" src="js/iscroll.js"></script>
<script type="text/javascript" src="js/using-iscroll.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/socket.io.js"></script>
	<script src="components/jquery/jquery.js"></script>
	<script src="components/underscore/underscore.js"></script>
	<script src="components/backbone/backbone.js"></script>
	<script src="components/backbone.localStorage/backbone.localStorage.js"></script>


</head>


<body>

	<div id="test">

	<div id="wrapper">

		<div id="scroller">
			<div id="pullDown">
				<span class="pullDownIcon"></span><span class="pullDownLabel"></span>
			</div>
			
			<div id="front-header">			
				
				<canvas id="myCanvas" width="140" height="140"></canvas>
				<script type="text/javascript">
					function drawCircle(){
					 var canvas = document.getElementById("myCanvas");
			
					var ctx = canvas.getContext("2d");
					
					/**/
					var grd=ctx.createLinearGradient(70,8,70,132);
					grd.addColorStop(0,"#B0B0B0");
					grd.addColorStop(1,"white");
					var angle=0.8;
					
					ctx.fillStyle=grd;
					ctx.strokeStyle="#E1E1E1";
					ctx.beginPath();
					ctx.arc(70,70,62,0,2*Math.PI);
					ctx.fill();
					ctx.stroke();
					
					ctx.beginPath();
					ctx.moveTo(70,70);
					ctx.arc(70,70,56,0,2*Math.PI,true);
					ctx.fill();
					ctx.stroke();
					
					ctx.fillStyle ="YellowGreen";
					ctx.beginPath();
					ctx.moveTo(70,70);
					ctx.arc(70,70,56,0,angle*Math.PI,false);
					ctx.fill();
					ctx.stroke();
					
					
					ctx.fillStyle="#eef3e2";
					ctx.beginPath();
					ctx.arc(70,70,49,0,2*Math.PI); 	 
					ctx.fill();
					ctx.stroke();
					
					var percentage=angle/2*100;
					document.write("<div id=\"percentage\">"+percentage+"</div>"); 
					var d=new Date()
					var day=d.getDate()
					var month=d.getMonth() + 1
					var year=d.getFullYear()

					document.write("<div id=\"date\">"+ day + "/" + month + "/" + year+"</div>")
					
					}
					drawCircle();
				</script>
				<p>%</p>
				<h id="project-name">未登录</h><br />
				<span id="front-header-producer">未登录</span><br />
				<span id="front-header-pro-description">未登录</span><br />
			</div>
		
			<div id="stageForm-list"></div>
	
			<div id="pullUp">
				<span class="pullUpIcon"></span><span class="pullUpLabel">eeee</span>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		$(".stage-area").hide();
		$(".stage-header").click(function(){
			$(this).next(".stage-area").slideToggle("slow");
		})
	});
	</script>

	</div>

	<div id="wrap" >
		<div id="pro-menu-head">
			<span class="pro-menu-picture">
				<a href="www.baidu.com">
					<img  class="pro-menu-img" src="source/10.jpg"  />
				</a>
			</span>
			<span id="pro-menu-head-word1">
				<li id="pro-user-name">未登录</li>
				<p id="pro-user-position">未登录</p>
			</span>
		</div>
		<div id="projectList">
			<div id="pro-menu-head2">
				<li>我的项目</li>
			</div>
		</div>

	</div>
		
	<div id="wrap2">
		<div id="news-head">
			<li>消息</li>
		</div>
		<div id="news-content">
			<div id="pro-name">Loiter项目管理</div>
			<div id="pro-task">/用户界面初稿</div>
			<div id="pro-trends">已审核通过！</div>
			<div id="comment-data">09:30 3月22</div>
		</div>
		
		<div id="news-content">
			<div id="pro-name">Loiter项目管理</div>
			<div id="pro-task">/用户界面初稿</div>
			<div id="pro-trends">可不可以快点！</div>
			<div id="comment-data">12:30 3月24</div>
		</div>
		
		<div id="news-content">
			<div id="pro-name">Loiter项目管理</div>
			<div id="pro-task">/用户界面初稿</div>
			<div id="pro-trends">修改设计！！</div>
			<div id="comment-data">09:30 3月22</div>
		</div>
	</div>





	<script type="text/template" id="project-template">
		<li><%= name %></li>
	</script>


	<script type="text/template" id="stage-template">						
		<div class="stage-header" align="left">第<%= index %>阶段</div>	
		<div class="stage-area" id="stage-area-<%= _id%>">
			
		</div>
			
		
		<div class="stage-ender"></div>

	</script>
	
	<script type="text/template" id="task-template">
		
			<div class="stage-text">
			<div class="stage-date">
				23<br />
				<li>JAN</li>
			</div>

			<span class="stage-picture">
				<a href="www.baidu.com">
				<img class="image" src="source/10.jpg"  />
				</a>
			</span>

			<span class="stage-note"><%= content %></span>
			</div>
			<hr />
	</script>
	
	<script type="text/javascript" src="js/models/user.js"></script>
	<script type="text/javascript" src="js/models/task.js"></script>
	<script type="text/javascript" src="js/views/taskView.js"></script>
	<script type="text/javascript" src="js/models/stage.js"></script>
	<script type="text/javascript" src="js/collections/stages.js"></script>
	<script type="text/javascript" src="js/views/stageView.js"></script>
	<script type="text/javascript" src="js/models/project.js"></script>
	<script type="text/javascript" src="js/collections/projects.js"></script>
	<script type="text/javascript" src="js/views/projectView.js"></script>
	<script type="text/javascript" src="js/views/sidebar-left.js"></script>
	<script type="text/javascript" src="js/views/mainView.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>

